#footer
  nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
    .container
      .row
        .container.col-xs-4.col-sm-4.col-md-4
          a(href='https://twitter.com/Chaosbohne')
          img(src='/images/htwdresden.png', width='75', height='30', alt='HTW icon') HTW Dresden
        .container.col-xs-8.col-sm-8.col-md-8.text-center
          p Hanna Scheller, Danilo Klose, Michael Hanslik and Rico Ruszewski © 2014. All Rights Reserved.  