#headline
  .col-xs-12.col-sm-12.col-md-12
    .text-center.pagination-centered
      h1
        img.img-responsive(src='/images/rotetris.png', alt='Responsive image')
      h2 Sync your phone with your computer to get rotetrising.