#headline
  .col-xs-12.col-sm-12.col-md-12
    .text-center
      h1
        img.img-responsive.centerimage(src='/images/rotatris.png', alt='Responsive image')
      h2 Sync your phone with your computer to get rotatrised.