doctype 5
html.js.canvas.no-touch.geolocation.rgba.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.cssgradients.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.applicationcache(lang='de', style='')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0')

    title Rotetris
    
    link(rel='apple-touch-startup-image', href='img/splash.png')
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(type='text/javascript', src='/javascript/libs/jquery.min.js')
    script(type='text/javascript', src='/javascript/libs/bootstrap.js')
    
    
  body#home.bg
    block content  