doctype 5
html.js.canvas.no-touch.geolocation.rgba.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.cssgradients.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.applicationcache(lang='de', style='')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title joyTet
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    
    link(rel='apple-touch-startup-image', href='img/splash.png')
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(type='text/javascript', src='/javascript/libs/jquery.min.js')
    script(type='text/javascript', src='/javascript/libs/bootstrap.js')
    
    
  body#home.bg
    block content