extends layout
block content
  #loading.container
    .row
      .col-xs-12.col-sm-12.col-md-12
        .text-center.pagination-centered
          h1
            img.img-responsive.centerimage(src='/images/rotatris.png', alt='Responsive image')
          h2 Loading...
          
  #start.container.hidden
    #playSmartphone.text-center
      .row
        .col-xs-4.col-sm-4.col-md-4      
          button#bLeft.btn-warning.btn.btn-default.btn-lg(type='button')
            span.glyphicon.glyphicon-arrow-left     
        .col-xs-4.col-sm-4.col-md-4
          button#bTop.btn-warning.btn.btn-default.btn-lg(type='button')
            span.glyphicon.glyphicon-arrow-up 
          button#bDown.btn-warning.btn.btn-default.btn-lg(type='button')
            span.glyphicon.glyphicon-arrow-down 
        .col-xs-4.col-sm-4.col-md-4
          button#bRight.btn-warning.btn.btn-default.btn-lg(type='button')
            span.glyphicon.glyphicon-arrow-right 
        

    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='/javascript/smartphoneFiles/rotateListener.js')    
    script(type='text/javascript', src='/javascript/smartphoneFiles/websocket.js')  


    
    