extends layout
block content
    #status.container
      .row
        .col-xs-2.col-sm-2.col-md-2
          .text-right
            h1#statustext 
      #ready.row.hidden
        .col-xs-2.col-sm-2.col-md-2
          button#btnstart(type='button') Start!
          
    #start.container.hidden
      .row
        .col-xs-6.col-sm-6.col-md-6
          .row          
            .col-xs-12.col-sm-12.col-md-12
              btn.btn-primary.btn-lg.btn-block#bTop ^
            .col-xs-12.col-sm-12.col-md-12
              btn.btn-primary.btn-lg.btn-block#bDown c
        .col-xs-6.col-sm-6.col-md-6
          .row          
            .col-xs-6.col-sm-6.col-md-6
              btn.btn-primary.btn-lg.btn-block#bTop a
            .col-xs-6.col-sm-6.col-md-6
            btn.btn-primary.btn-lg.btn-block#bDown b
        

    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='/javascript/smartphoneFiles/rotateListener.js')    
    script(type='text/javascript', src='/javascript/smartphoneFiles/websocket.js')  


    
    