extends layout
block content
    header(role='banner')
        #header.container
            .row.header_wrapper
              .col-xs-12.col-sm-12.col-md-12
                div.joytetheading.text-center 
                  div.borderheadline
                    span.color1 J
                    span.color2 O
                    span.color3 Y
                    span.color4 T
                    span.color5 E
                    span.color6 T
        #start.container
            .row
              .col-xs-12.col-sm-12.col-md-12.text-center
                a.btn.btn-primary(href='/play') PLAY
                  
                
    script(type='text/javascript', src='/javascript/start.js')
