extends layout
block content
    header(role='banner')
        #header.container
            .row.header_wrapper
              .col-xs-12.col-sm-12.col-md-12
                div.joytetheading.text-center 
                  div.borderheadline ROTATETRIS
        #start.container
            .row
              .col-xs-12.col-sm-12.col-md-12.text-center
                a.btn.btn-primary(href='/play') PLAY
                  
                
    script(type='text/javascript', src='/javascript/start.js')
