extends layout
block content
  #start.container
    .row
      .col-xs-12.col-sm-12.col-md-12
        .text-center.pagination-centered
          h1
            img.img-responsive.centerimage(src='/images/rotatris.png', alt='Responsive image')
          h2 Sync your phone with your computer to get rotetrising.
          
      .col-xs-12.col-sm-12.text-center
        img(src='/images/Smartphone1.png', width='45px', height='79px', alt='Responsive image')
      .col-xs-12.col-sm-12.text-center
        h4 You are already on a smartphone.
      .col-xs-12.col-sm-12.text-center
        img(src='/images/Ultrabook.png', width='158px', height='79px', alt='Ultrabook image')
      .col-xs-12.col-sm-12.text-center
        h4 Grab your computer to get started.
        h4 Start and use Chrome for best experience.
        #currentUrl
        
    script(type='text/javascript', src='/javascript/desktopFiles/_start.js')        