extends layout
block content
    .container
      .row
        .col-xs-2.col-sm-2.col-md-2
          canvas#Canvas3d(width='600', height='600') This browser or document mode doesn't support canvas
          div#divFps Fps:   
             
  
    script(type='text/javascript', src='/javascript/desktopFiles/test.js')
    script(type='text/javascript', src='/javascript/desktopFiles/gl-matrix.js')
    script(type='text/javascript', src='/javascript/desktopFiles/webgl-utils.js')     
    
    script(type='text/javascript', src='/javascript/desktopFiles/controller.js') 
    script(type='text/javascript', src='/javascript/desktopFiles/figure.js') 
    script(type='text/javascript', src='/javascript/desktopFiles/keyboardInput.js') 
    script(type='text/javascript', src='/javascript/desktopFiles/gameModel.js') 
    script(type='text/javascript', src='/javascript/desktopFiles/view.js')     
